<header>
<div class="navbar">
    <div class="logo">
     <img class="img-fluid" width="100px"  src="assets/logo.jpg" alt="">
       
    </div>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a class="nav-link" [routerLink]="['/productpage']" routerLinkActive="router-link-active">Proucts</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a class="nav-link" [routerLink]="['/accountpage']" routerLinkActive="router-link-active">Account</a></li>
        </ul>
    </nav>
    <img class="img-fluid" src="assets/shopcart.png" width="30px" height="30px">
</div>
</header>

