<div class="accountpage">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="assets/homepage.jpg" alt="" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <h2>Login</h2>
<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <form [formGroup]="loginForm">
    <div class="form-group">
        <label for="username">Email</label>
        <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': loginSubmit && f.Email.errors }"/>
        <div *ngIf="loginSubmit && f.Email.errors" class="invalid-feedback">
            <div *ngIf="f.Email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': loginSubmit && f.Password.errors }"/>
        <div *ngIf="loginSubmit && f.Password.errors" class="invalid-feedback">
            <div *ngIf="f.Password.errors.required">Password is required</div>
            <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="onSubmit()">Login</button>
        
        <a [routerLink]="['/regpage']" class="btn btn-link">Register</a>
    </div>

    <div class="form-group">
        
        
        <a class="btn btn-link forgotpass" (click)="open(mymodal)">Forgot Password?</a>
    </div>
</form>
                </div>
            </div>
        </div>
    </div>

</div>


<!------   Forgot Passwor   ------->
<ng-template #mymodal let-modal let-c="close" let-d="dismiss">
    <div class="modal-header pb-1">
      <h4 class="modal-title text-center font-weight-bold" id="modal-basic-title">Forgot password</h4>
      <button type="button" class="close pb-1 outLineNone" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
<div class="modal-body border-bottom-none">
    <div class="forgetPwdContainer">
     <p class="text-center">Please enter the Email id/Phone number you used at the time of registration to get the password reset instructions.</p>
     <form [formGroup]="forgotPasswordForm">
         <div class="form-group">
             <input type="text" formControlName="Email" class="form-control " placeholder="Email" [ngClass]="{ 'is-invalid': submitForgetPwd && fp.Email.errors }"/>
             <span *ngIf="submitForgetPwd && fp.Email.errors" class="invalid-feedback">
                <span *ngIf="fp.Email.errors.required">Email is required</span>
            </span>
         </div>
         <div class="form-group">
             <button type="submit" [disabled]="loading" class="btn btn-primary loginBtn w-100" (click) = "onForgotSubmit(otpMethod)" >Submit</button>
         </div>
     </form>
    </div>
 </div>


</ng-template>
<!---Forgot Password End-->


<!---OTP Modal Begin-->

   
<ng-template #otpMethod let-modal let-c="close" let-d="dismiss">
    <div class="modal-header pb-1">
      <h4 class="modal-title text-center font-weight-bold" id="modal-basic-title">Email Verification</h4>
      <button type="button" class="close pb-1 outLineNone" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body border-bottom-none text-center">
     <div class="otpContainer">
      <p class="">Please enter the given OTP number</p>
      <form [formGroup]="resetPasswordForm">
        <div class="form-group">
            <input type="text" formControlName="Email" class="form-control" placeholder="Enter the Email" [ngClass]="{ 'is-invalid': resetPwd && s.Email.errors }"/>
            <span *ngIf="resetPwd && s.Email.errors" class="invalid-feedback">
                <span *ngIf="s.Email.errors.required">Email is required</span>
            </span>
        </div>
          <div class="form-group">
              <input type="text" formControlName="Password" class="form-control" placeholder="Enter the ResetPassword" [ngClass]="{ 'is-invalid': resetPwd && s.Password.errors }"/>
              <span *ngIf="resetPwd && s.Password.errors" class="invalid-feedback">
                <span *ngIf="s.Password.errors.required">Password is required</span>
                <span *ngIf="s.Password.errors.minlength">Password must be at least 6 characters</span>
            </span>
          </div>
          <div class="form-group">
            <input type="text" formControlName="ConfirmPassword" class="form-control" placeholder="Enter the ResetPassword" [ngClass]="{ 'is-invalid': resetPwd && s.ConfirmPassword.errors }"/>
            <span *ngIf="resetPwd && s.ConfirmPassword.errors" class="invalid-feedback">
              <span *ngIf="s.ConfirmPassword.errors.required">Password is required</span>
              <span *ngIf="s.ConfirmPassword.errors.minlength">Password must be at least 6 characters</span>
              <span *ngIf="s.ConfirmPassword.errors.required">Password do not match</span>
              <span *ngIf="s.ConfirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</span>
          </span>
        </div>
          <div class="form-group">
            <input type="text" formControlName="OTP" class="form-control" placeholder="Enter the OTP" [ngClass]="{ 'is-invalid': resetPwd && s.OTP.errors }"/>
            <span *ngIf="resetPwd && s.OTP.errors" class="invalid-feedback">
                <span *ngIf="s.OTP.errors.required">OTP is required</span>
            </span>
        </div>
          <div class="form-group">
              <button type="submit" (click) = "onotpSubmit()" class="btn btn-primary loginBtn w-100" >Submit</button>
          </div>
      </form>
     </div>
  </div>
  
  </ng-template>
  <!---OTP  Modal End-->