<div class="productpage">
    <div class="container">
        <div class="row">  
            <div class="card">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="listimage"  *ngFor = "let card of prodetails.PICTURE">
                            <img src="{{card.PICTURE}}" (click)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"  alt="Card image cap" style="width:100%" class="rounded mx-auto d-block img-responsive mt-3">
                        </div>
                       
                    </div>
                    <div class="col-md-4">
                         <!-- <div class="img" *ngFor = "let item of prodetails.SUBPRODUCT"> -->
                            <img src="{{PRIMARY_IMAGE}}"  alt="Card image cap" style="width:100%" class="rounded mx-auto d-block img-responsive mt-3"> 
                             <!-- <h6 class="card-title font-weight-bold">{{prodetails.NAME}}</h6>
                            <p class="card-text"><b>Price</b><small> {{prodetails.PRICE}} </small></p>   -->
                        <!-- </div> -->
                    </div>
                    <div class="col-md-6">
                        <div class="Description">
                            <h6 class="card-title font-weight-bold">{{prodetails.NAME}}</h6>
                            <p class="card-text">Price  <b>&#8377;</b><b>{{prodetails.PRICE}}</b></p>  
                            <p class="card-text"><b>Description</b> {{prodetails.DESCRIPTION}}</p>
                        </div>
                        
                    </div>
                </div>

            </div>
                <!-- <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="img" *ngFor = "let item of prodetails.subproduct">
                                <img src="{{item.url}}"  alt="Card image cap" style="width:100%" class="rounded mx-auto d-block img-responsive mt-3">
                                 <h6 class="card-title font-weight-bold">{{prodetails.name}}</h6>
                                <p class="card-text"><b>Price</b><small> {{prodetails.price}} </small></p>  
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-sm" width="10px"  *ngFor = "let card of prodetails.picture">
                            <img src="{{card.pic}}" (click)="mouseEnter($event)" (mouseleave)="mouseLeave($event)"  alt="Card image cap" style="width:100%" class="rounded mx-auto d-block img-responsive mt-3">
                        </div>
                    </div> 
                </div> -->
            
        </div>
    </div>
</div>
  
